@using WeekendPlan.ViewModels
@model EventListViewModel
@{
    ViewBag.Title = "Users";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search event</title>
</head>
<body>
    <div class="row" style="margin-top: 50px;">
        <br />
        <div class="col-md-8">
            @{ int i = 0;
                foreach (var e in Model.Events)
                {
                    i++;
                    <img class="img-rounded" width="80" height="100" src="@e.Images" />

                    <a class="btn btn-primary" href="~/Event/EventDetails/@e.EventId">@e.Title</a>

                    if (i % 2 == 0)
                    {
                        <br />
                    }
                    if (i > 12)
                    {
                        break;
                    }
                }
            }
        </div>
        @*<form action="~/Film/FilmSelectGenre/@Model.Genres" method="post">
            <div class="col-md-4">
                <b>Сортировать по жанрам:</b>@Html.DropDownList("Genres", (SelectList)ViewBag.DropDownValuesGenre, new { @class = "form-control", @onchange = "GenreChange(this.value)" })
                @*<a class="btn btn-default">@Model.Genres</a>*@
    </div>

</body>
</html>
