@using WeekendPlan.ViewModels
@model ProfileViewModel
@{
    ViewBag.Title = "Tags";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommentByUser</title>
</head>
<body>
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-4">
            @{  <b>Тэги к фильмам:</b><br />
                foreach (var c in Model.FilmTags)
                {
                    @c.Author.Name<br />
                    @c.Text<br />
                    <p>-------------</p>
                }
            }
        </div>
        <div class="col-md-4">
            @{  <b>Тэги к событиям:</b><br />
                foreach (var c in Model.EventTags)
                {
                    @c.Author.Name<br />
                    @c.Text<br />
                    <p>-------------</p>
                }
            }
        </div>
    </div>
</body>
</html>
