@using WeekendPlan.ViewModels
@model EventListViewModel
@{
    ViewBag.Title = "Events";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EventsView</title>
</head>
<body>
    <div class="row" style="margin-top: 50px;">
        <br />
        @{ int i = 0;
            foreach (var e in Model.Events)
            {
                i++;
                <a class="btn btn-primary" href="~/Event/EventDetails/@e.EventId">@e.Title</a>
                if (i % 2 == 0)
                {
                    <br />
                }
                if (e.EventId > 12)
                {
                    break;
                }
            }
        }
    </div>

</body>
</html>
