<!DOCTYPE html>
<html>
<head>
    <title>Примеры. Круг</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Если вы используете API локально, то в URL ресурса необходимо указывать протокол в стандартном виде (http://...)-->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    @*<script src="~/Scripts/circle.js" type="text/javascript"></script>*@
    <script src="~/Scripts/yandex_map.js" type="text/javascript"></script>
</head>
<body>
    <div id="map" style="width: 600px; height: 400px; margin-top:70px"></div>
</body>
</html>